
// ------myheader-----
.myheader-box {
  position: relative;
}
.myheader-box .set {
  position: absolute;
  top: -3.5rem;
  right: 1rem;
}
.myheader-box .set span {
  font-size: 1.4rem;
  color: #333;
}

.myheader-content {
  background-color: #fff;
  border: 1px solid #eee;
  margin-top: 4rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px #ddd;
}
.myheader-content .avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -2rem;
}
.myheader-content .avatar img {
  width: 100%;
  height: 100%;
}
// 未登录下的样式
.myheader-content .avatar span {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 2.85rem;
}
.myheader-content .name {
  font-weight: 600;
  color: #333;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.myheader-content .info {
  font-size: 0.7rem;
  color: #666;
  margin: 0.3rem 0 0.6rem 0;
}
.myheader-content .info span {
  width: 1px;
  height: 0.55rem;
  display: inline-block;
  background-color: #999;
}
.myheader-content .info div {
  display: inline;
  padding: 0.5rem;
}
.myheader-content .all-fun {
  display: flex;
  width: 100%;
}
.myheader-content .all-fun .item {
  width: 25%;
  box-sizing:border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myheader-content .all-fun .item span {
  font-size: 0.7rem;
  color: #666;
  display: inline-block;
  margin: 0.3rem 0 0.8rem 0;
}
.myheader-content .all-fun .item img {
  width: 2.5rem;
  height: 2.5rem;
}

// ------myheader-----

// ------mycontent-----

.my-content {
  background-color: #fff;
  border: 1px solid #eee;
  margin: 0.4rem 0;
  padding-bottom: 0.5rem; 
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px #ddd;
}
.my-content .am-list-item .am-list-line .am-list-content {
  color: #444;
}
// ------mycontent-----

em {
  font-style: normal!important;
}

.order-double-btn {
  display: flex;
}
.order-double-btn a {
  width: 50%;
  box-sizing: border-box;
}